<!--index.wxml-->



<view class="su-container">
    <view class="conts">
      <view  class="conts-li" bindtap="bindEvent">
        <view class="img-cont">
          <image src="/images/conts/2.png" class="img"/>
        </view>
        <view class="c-title">公司简介</view>
        <view class="pt-introduction">
          
          <view>
          <text decode="{{true}}" space="{{true}}">&nbsp;&nbsp;&nbsp;&nbsp;</text>
          北京铂金智慧网络科技有限公司（Ptmind）专注于在线数据分析及应用领域。
以数据普世化为核心使命，Ptmind通过不断打磨的技术基础和产品设计，力求抵达数据分析产品简洁易用的极致，最大程度地降低使用数据的门槛，令更多人具备使用数据的能力，提高从数据中获取洞察的效率，掌握真正与数据时代相匹配的工作方式。
公司团队由来自中国、日本、美国、瑞典等国家的数据领域专业人才所组成，富有活力、勤于创新。
          </view>

          <view>
          <text decode="{{true}}" space="{{true}}">&nbsp;&nbsp;&nbsp;&nbsp;</text>
          目前，Ptmind在海量数据实时处理、数据可视化、多终端访客数据处理等诸多方面屡受肯定，并多次获得国内外技术与设计权威机构评奖认可。
目前为以海外市场为主的众多知名企业的互联网媒体提供数据监测服务，并成为各行各业逾万家数据驱动决策型企业的信赖首选。同时，Ptmind也正在面向革新性的数据整合平台积极探索。
目前，Ptmind以中国北京为研发中心，并在中国香港、日本、美国和澳大利亚建立了商务中心，为全球企业提供服务。
          </view>
        </view>
        <view class="img-cont">
          <image src="/images/conts/pic3.jpg" class="img"/>
        </view>
        <view class="c-title">产品型驱动</view>
        <view class="pt-introduction">
        Ptmind以为客户提供优质的产品服务为己任，从设计到研发均有严格的规范标准。以严密的安全性及优秀的数据处理性能为技术基石，简洁易用体贴为产品设计原则，协助客户最大程度提取数据中的蕴含价值。
        </view>
        <view class="img-cont">
          <image src="/images/conts/pic4.jpg" class="img"/>
        </view>        
        <view class="c-title">专业化团队</view>
        <view class="pt-introduction">
        我们的团队由来自Adobe、华为、Teradata、百度、阿里、腾讯、京东、新浪、去哪儿网及欧美日等多国知名互联网公司多年从业经验的成员组成，多元化的团队融合而成多元化智慧，竭诚为客户打造全面服务。
        </view>
      </view>
    </view>
    <view class="pt-contact">
      <view class="c-txt">联系我们</view>
      <view class="c-tel">Tel:010-57280493</view>
      <view class="c-tel">Phone:4006335334</view>
      <view class="c-tel">Email:Business@ptmind.com</view>
      <view class="c-tel">地址：北京市海淀区上地东路35号颐泉汇写字楼1-222室</view>
    </view>

    <view bindtap="goTo">
      点击
    </view>


</view>