/**index.wxss**/
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}
.su-container{
  padding:20rpx;
}
.su-container .title{
  font-size:34rpx;
}
.su-container .conts-li{

  overflow:hidden;
  margin:20rpx 0;
}
.su-container .img-cont,.su-container .img-cont-1{
  width:100%;
  height:260rpx;
  border-radius:8rpx;
  overflow:hidden;
}
.su-container .img-cont .img{
  width:100%;
  height:100%;
}
.su-container .img-cont-1 .img{
  width:33.33%;
  height:100%;
  float:left;
}
.su-container .c-title{
  text-align:center;
  font-size:40rpx;
  margin-top:40rpx;
  margin-bottom:40rpx;
}
.su-container .pt-introduction{
  font-size:30rpx;
  line-height:40rpx;
  color:#444;
  margin-bottom:30rpx;
}
.pt-contact{
  background:#ececec;
  padding:15rpx;
  font-size:25rpx;
}