.t-bar-conts {
  padding:20rpx;
}
.t-bar-conts .img-cont{
  width:60%;
  height:260rpx;
  border-radius:8rpx;
  overflow:hidden;
  margin:0 auto;
}
.t-bar-conts .img-cont .img{
  width:100%;
  height:100%;
}
.t-bar-conts .t-title{
    font-size:40rpx;
    text-align:center;
}
.t-bar-conts .t-play{
    font-size:30rpx;
}
.t-bar-conts .t-els .title{
    font-size:30rpx;
    margin-bottom:20rpx;
    margin-top:20rpx;
}
.t-bar-conts .t-els .ins{
    font-size:25rpx;
    margin-bottom:15rpx;
}